<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Passport Example Register</title>
  </head>
  <body>

    <div>
      <h1>Register with Passport and SQL</h1>
    </div>

    <form action="/Register" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
      </div>

      <div>

      </div>

      <div>
        <input type="submit" value="Register">
        <a href="/">Login</a>
      </div>

    </form>

  </body>
</html>
